<h2 class="ui center aligned medium icon header encabezado">
    <i class="circular coffee icon"></i>
    Cuéntame algo
</h2>


<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Responder">
                            <i class="bordered inverted orange edit icon"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui inverted vertical menu">
                    <div class="active item">
                        Home
                    </div>
                    <div class="item">
                        Messages
                    </div>
                    <div class="item">
                        Friends
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
