
<% flash.each do |message_type, msg| %>
    <div class="ui message container <%="#{message_type}"%>">
        <i class="close icon"></i>
        <div class="header">
            <%= msg %>
        </div>
    </div>
<% end %>